/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

/* timer */
body {
  padding: 36px 156px;
}
.timer {
  display: flex;
  gap: 24px;
  text-align: center;
  width: 346px;
  height: 72px;
  justify-content: center;
}
.field {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 72px;
}

.value {
  font-weight: 400;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  line-height: 48px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

/* button */
[data-start] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}
[data-start]:disabled {
  color: #989898;
  background: #cfcfcf;
}
[data-start]:hover {
  background: #6c8cff;
}
#datetime-picker {
  width: 272px;
  height: 34px;
  border: 1.6px solid #989898;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
#datetime-picker:active {
  border: 1.6px solid #4e75ff;
  color: #000;
}

#datetime-picker:disabled {
  border: 1.6px solid #808080;
  color: #808080;
}

#datetime-picker:hover {
  border: 1.6px solid #2e2f42;
  color: #2e2f42;
}
